# ==========================
# Maven
# ==========================
**/target/
**/.mvn/

# ==========================
# Java
# ==========================
*.class
*.jar
*.war
*.ear
*.log
hs_err_pid*

# ==========================
# IDE Files
# ==========================
.idea/
.vscode/
*.iml

# ==========================
# OS Files
# ==========================
Thumbs.db
desktop.ini
.DS_Store

# ==========================
# Temporary Files
# ==========================
*.tmp
*.temp